<% if games.any? %>
  <div class="overflow-x-auto">
    <table class="table table-zebra table-hover">
      <thead>
        <tr>
          <th>
            <%= link_to admin_games_games_path(sort: "title", q: params[:q]), data: { turbo_frame: "games_table" }, class: "link link-hover" do %>
              Title
            <% end %>
          </th>
          <th>
            <%= link_to admin_games_games_path(sort: "release_year", q: params[:q]), data: { turbo_frame: "games_table" }, class: "link link-hover" do %>
              Release Year
            <% end %>
          </th>
          <th>
            <%= link_to admin_games_games_path(sort: "game_type", q: params[:q]), data: { turbo_frame: "games_table" }, class: "link link-hover" do %>
              Type
            <% end %>
          </th>
          <th>Developers</th>
          <th>Platforms</th>
          <th class="text-right">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% games.each do |game| %>
          <tr>
            <td>
              <div class="font-bold">
                <%= link_to game.title, admin_games_game_path(game),
                    class: "link link-hover",
                    data: { turbo_frame: "_top" } %>
              </div>
            </td>
            <td>
              <% if game.release_year.present? %>
                <span class="badge badge-ghost badge-sm"><%= game.release_year %></span>
              <% else %>
                <span class="text-base-content/30">-</span>
              <% end %>
            </td>
            <td>
              <span class="badge badge-outline badge-sm">
                <%= game.game_type.titleize %>
              </span>
            </td>
            <td>
              <% developers = game.companies.merge(Games::GameCompany.developers) %>
              <% if developers.any? %>
                <div class="text-sm">
                  <%= developers.first(2).map(&:name).join(", ") %>
                  <% if developers.count > 2 %>
                    <span class="text-base-content/50">+<%= developers.count - 2 %></span>
                  <% end %>
                </div>
              <% else %>
                <span class="text-base-content/30">-</span>
              <% end %>
            </td>
            <td>
              <% if game.platforms.any? %>
                <div class="text-sm">
                  <%= game.platforms.first(2).map(&:name).join(", ") %>
                  <% if game.platforms.count > 2 %>
                    <span class="text-base-content/50">+<%= game.platforms.count - 2 %></span>
                  <% end %>
                </div>
              <% else %>
                <span class="text-base-content/30">-</span>
              <% end %>
            </td>
            <td>
              <div class="flex justify-end gap-1">
                <%= link_to admin_games_game_path(game),
                    class: "btn btn-ghost btn-xs",
                    data: { turbo_frame: "_top" },
                    title: "View" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                    <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
                  </svg>
                <% end %>
                <%= link_to edit_admin_games_game_path(game),
                    class: "btn btn-ghost btn-xs",
                    data: { turbo_frame: "_top" },
                    title: "Edit" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                  </svg>
                <% end %>
                <%= button_to admin_games_game_path(game),
                    method: :delete,
                    class: "btn btn-ghost btn-xs text-error",
                    title: "Delete",
                    data: { turbo_confirm: "Are you sure you want to delete #{game.title}?" } do %>
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
                  </svg>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <!-- Pagination -->
  <% if defined?(pagy) && pagy %>
    <div class="flex justify-center py-4 border-t border-base-300">
      <%== pagy.series_nav if pagy.pages > 1 %>
    </div>
  <% end %>
<% else %>
  <!-- Empty State -->
  <div class="py-12 text-center">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16 mx-auto text-base-content/20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 5v2m0 4v2m0 4v2M5 5a2 2 0 00-2 2v3a2 2 0 110 4v3a2 2 0 002 2h14a2 2 0 002-2v-3a2 2 0 110-4V7a2 2 0 00-2-2H5z" />
    </svg>
    <h3 class="mt-4 text-lg font-semibold">No games found</h3>
    <p class="mt-2 text-sm text-base-content/70">
      <% if params[:q].present? %>
        Try adjusting your search or <%= link_to "clear filters", admin_games_games_path, class: "link link-primary" %>.
      <% else %>
        Get started by creating your first game.
      <% end %>
    </p>
    <% if params[:q].blank? %>
      <div class="mt-6">
        <%= link_to new_admin_games_game_path, class: "btn btn-primary", data: { turbo_frame: "_top" } do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
          </svg>
          <span>New Game</span>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
